.vscode/**
.vscode-test/**
node_modules/**
!node_modules/node-pty/package.json
!node_modules/node-pty/lib/**
!node_modules/node-pty/prebuilds/**/*.node
!node_modules/node-pty/prebuilds/win32-x64/winpty.dll
!node_modules/node-pty/prebuilds/win32-x64/winpty-agent.exe
!node_modules/node-pty/prebuilds/win32-x64/conpty/**
src/**
test/**
.gitignore
tsconfig.json
esbuild.mjs
*.map
data/**
docs/**
images/light.png
images/dark_theme.png
images/opencode-icon.svg
AGENTS.md
changelog.md
